{% extends 'base.html' %}

{% load static %}


{% block body %}
<nav  class="navbar navbar-expand-sm navbar-dark" style="background-color: lightgreen;">
  <div class="container">
      <a class="navbar-brand" href="{% url 'home:todo_list' %}"> <h3> Home page </h3> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> تسجيل الدخول  </h4>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/forms.html' %}
              <button type="submit" class="btn btn-primary btn-block"> تسجيل الدخول </button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            هل تريد انشاء حساب؟<a href="{% url 'signup' %}"> انشاء حساب   </a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}